/* styles.css */

/* Устанавливаем фон страницы и основные шрифты */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Центрируем заголовок */


.comform {

right  : 80%;

}



/* Стилизуем ссылки в меню и категориях */
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/* Стилизуем кнопки */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Форма для добавления статьи */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
