{%extends "base.html"%}

{%block content%}
<div class="formAdd">
    <h1>Добавление Статьи</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>


        {% if f.name == 'captcha_0' %}
        <div class="captcha-container">
            {{ f }}
        </div>
        {% endif %}
        {% endfor %}

        <button type="submit">Добавить</button>
    </form>
</div>
{%endblock%}
