<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyberNews</title>
</head>
<body>
<h1>Cyber News</h1>
<h2>Все о киберспорте в одном месте</h2>


<!--ЗДЕСЬ БУДЕТ ШАПКА ПЕРМАНЕНТНО-->


<h1>
    <a href="addart/"> Добавить статью</a></h1>


<h1><a href="forum/"></a>
    ФОРУМ
    </h1>


<h1>CATEGORIES</h1>
{%for cat in cats%}

<a href="{%url 'category-only' cat.slug%}">{{cat}} </a>


{%endfor%}

<br>
{%block content%}



{%endblock%}
<!--справа все предыдущие статьи и кнопка категории которую пользователь выбирает-->





<!--футер тоже перманентно не меняется-->


</body>
</html>