{% load static %}

<html lang="en">
<head>

     <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
    <meta charset="UTF-8">
    <title>CyberNews</title>
</head>
<body>
<header>
    <div class="ebhed">
  <div class="header-left">
        <h1 class="header-heading"><a href="{% url 'main-page' %}">CYBER NEWS</a></h1>
        <h2>Все о киберспорте в одном месте</h2>
    </div>
{%if user.is_authenticated%}
        <ul>
         <li><a href="{%url 'profile'%}"> Профиль </a></li>
   <li>  <a href="{%url 'addart'%}"> Добавить статью</a> </li>
            <li><a href="{%url 'logout'%}">Выйти</a> </li>
            <li><a href="{%url 'change-password'%}"> Сменить пароль </a></li>

            </ul>

    {%else%}
                <ul>
                    <li><a href="{%url 'signup'%}"> РЕГИСТРАЦИЯ</a></li>
        <li><a href="{%url 'signin'%}"> ВОЙТИ</a></li>
                </ul>


            {%endif%}
</div>




</header>
<!--ЗДЕСЬ БУДЕТ ШАПКА ПЕРМАНЕНТНО-->


<br>
{%block content%}



{%endblock%}
<!--справа все предыдущие статьи и кнопка категории которую пользователь выбирает-->





<!--футер тоже перманентно не меняется-->


</body>
</html>