{%extends "base.html"%}
{%load static%}

<body>


{%block content%}
<div class="artic_det">
    <h2>{{art.title}}</h2>
    <div class="article-content">
        <p>{{art.text}}</p>
        <img src="{{art.image.url}}" id="det-img">
    </div>
</div>

<div class="sim">

    <h2>ПОХОЖИЕ СТАТЬИ</h2>

    {%for art in similar%}

    <a href="{%url 'full-article' art.id%}"> {{art.title}}</a>
    <br>

    {%endfor%}

</div>


<div class="comform">
    <h2> Оставьте комментарий</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="aaa">
            {% for field in form %}
            <div>
                Введите комментарий
                <div class="inpcom">{{field}}</div>
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="Отправить">
    </form>

    {%for comm in comments%}

    {{comm}}
    <br>

    {%endfor%}

</div>

{%endblock%}

</body>
