
{%extends "base.html" %}
{% load static %}
{% load news_tags %}







{%block content%}

<h1>
CATEGORIES </h1>

{%getcats as cats%}
{%for cat in cats%}

<a href="{%url 'category-only' cat.slug%}">{{cat}} </a>
<br>
{%endfor%}

<a href="{%url 'search' %}"> ПОИСК </a>


<div class="recent">

{%for art in arts%}

   <h5> {{art.category}}</h5>


<p><a href="{%url 'full-article' art.id%}"> {{art.title}} </a>  </p>
    <img src="{{art.image.url}}"  >

<br>
    {%for tag in art.tags.all%}
    <a href="{%url 'tag_search' tag.name%}"> {{tag.name}} | </a>
    {%endfor%}
{%endfor%}
    </div>


{%include 'paginator.html' with page=page_obj%}

{%endblock%}